Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

starter.com:
  site_hosts:
    - canonical: starter.com

The above is the minimum required. Multiple hosts and redirects are possible:

starter.com:
  site_hosts:
    - canonical: starter.com
      redirects:
        - www.starter.com


